.containerChar{
    width: calc( 100% - 330px );
    height: 100%;
    background-color: #000000;
    margin: auto 0 auto auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
}
.containerChar::-webkit-scrollbar{
    width: 15px;
}
.containerChar::-webkit-scrollbar-track {
    background: #2F2F2F;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.containerChar::-webkit-scrollbar-thumb{
    background-color: #F97316;
    border-radius: 10px;
    border: 3px solid #2F2F2F;
}